@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dsin Cabeleleila Leila</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header class="header">
    </header>

    <section class="hero">
        <div class="hero-content">
            <h2>Transforme seu visual com elegância</h2>
            <p>Especialistas em cuidar da sua beleza e bem-estar.</p>
            <!-- Adicionando a imagem abaixo do título -->
            <img src="~/images/adam-winger-WXmHwPcFamo-unsplash.jpg" class="hero-image">
        </div>
    </section>

    <section id="sobre" class="about">
        <div class="container">
            <h2>Sobre Nós</h2>
            <p>Na Cabeleileila Leila, oferecemos os melhores serviços de cabeleireiro, maquiagem e cuidados com a pele. Nossa equipe de profissionais altamente qualificados está aqui para garantir que você se sinta confiante e radiante.</p>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Cabeleileila Leila - Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
