/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    background-color: #ffffff; /* Fundo branco */
    padding: 15px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #ddd; /* Borda sutil */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-brand {
    color: #333 !important; /* Letras pretas */
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    color: #333 !important; /* Letras pretas para os links */
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #009688; /* Cor de hover para links */
}

/* Content Styles */
.container {
    margin-top: 80px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
}

.main-title {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #555;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group {
    width: 45%;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #009688;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50; /* Cor verde */
    color: #4CAF50;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* Tom de verde mais escuro ao passar o mouse */
}


/* Validation and Message */
.validation-message {
    color: red;
    font-size: 0.9rem;
}

.message {
    font-size: 1rem;
    color: green;
    text-align: center;
    margin-top: 10px;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
    }
}
